:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-light-cyan: hsl(180, 52%, 96%);
  --clr-light-filter-cyan: hsl(180, 31%, 95%);
  --clr-dark-cyan: hsl(180, 8%, 52%);
  --clr-very-dark-cyan: hsl(180, 14%, 20%);
  --clr-bg-cyan: #5da5a4;
}

* {
  font-family: 'League Spartan', sans-serif;
}
